{% extends 'base.html.twig' %}

{% block title %}RepresentantFamille index{% endblock %}

{% block body %}
    <h1>RepresentantFamille index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Login</th>
                <th>Motdepasse</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Adresse</th>
                <th>NoMobile</th>
                <th>NoFixe</th>
                <th>Mail</th>
                <th>DateNaissance</th>
                <th>DateFinAdhesion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for representant_famille in representant_familles %}
            <tr>
                <td>{{ representant_famille.id }}</td>
                <td>{{ representant_famille.login }}</td>
                <td>{{ representant_famille.motdepasse }}</td>
                <td>{{ representant_famille.nom }}</td>
                <td>{{ representant_famille.prenom }}</td>
                <td>{{ representant_famille.adresse }}</td>
                <td>{{ representant_famille.noMobile }}</td>
                <td>{{ representant_famille.noFixe }}</td>
                <td>{{ representant_famille.mail }}</td>
                <td>{{ representant_famille.dateNaissance ? representant_famille.dateNaissance|date('Y-m-d') : '' }}</td>
                <td>{{ representant_famille.dateFinAdhesion ? representant_famille.dateFinAdhesion|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('representant_famille_show', {'id': representant_famille.id}) }}">show</a>
                    <a href="{{ path('representant_famille_edit', {'id': representant_famille.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('representant_famille_new') }}">Create new</a>
{% endblock %}
