{% extends 'base.html.twig' %}

{% block body %}
    {% include 'representant_famille/espace.html.twig' %}
<div class="row">
    <div class="col-7">
        <table class="table table-bordered">
            <caption>Informations personnelles</caption>
            <thead>
            <tr>
                <th> Nom </th>
                <th> Prénom</th>
                <th> Adresse </th>
                <th> Numéro de téléphone </th>
                <th> Fixe </th>
                <th> Adresse mail</th>
                <th> Date de naissance</th>
                <th> Date de fin d'adhésion</th>
            </tr>
            </thead>
            <tbody>
            {% for info in representantFamille if info is not empty %}
                <tr>
                    <td>{{ info.nom }}</td>
                    <td>{{ info.prenom }}</td>
                    <td>{{ info.adresse }}</td>
                    <td>{{ info.noMobile }}</td>
                    <td>{{ info.noFixe }}</td>
                    <td>{{ info.mail }}</td>
                    <td>{{ info.dateNaissance | date('d-m-Y') }}</td>
                    <td>{{ info.dateFinAdhesion | date('d-m-Y') }}</td>
                </tr>
            {% endfor %}
            <tbody>
        </table>
        <a href="" class="btn btn-secondary"> Modifier </a>
    </div>
</div>
{% endblock %}