{% extends 'base.html.twig' %}

{% block body %}
    {% include 'representant_famille/espace.html.twig' %}
<div class="row">
    <div class="col-7">
        <table class="table table-bordered">
            <caption>Informations personnelles</caption>
            <thead>
            <tr><th>nom</th><th>prénom</th><th>adresse</th><th>numéro de téléphone</th><th>fixe</th><th>adresse mail</th><th>date de naissance</th><th>date de fin d'adhésion</th></tr>
            </thead>
            <tbody>
            {% for info in representantFamille if info is not empty %}
                <tr>
                    <td> {{info.nom}} </td>
                    <td>{{ info.prenom }}</td>
                    <td>{{ info.adresse }}</td>
                    <td>{{ info.noMobile }}</td>
                    <td>{{ info.noFixe }}</td>
                    <td>{{ info.mail }}</td>
                    <td>{{ info.dateNaissance | date('d-m-Y') }}</td>
                    <td>{{ info.dateFinAdhesion | default("Indéfinie") }}</td>

                </tr>
            {% endfor %}

            <tbody>
        </table>
        <a href="{{ path('Representant.informationsPerso.edit') }}" class="btn btn-secondary">Modifier</a>
    </div>
</div>

{% endblock %}