{% include 'base.html.twig' %}
 {% block nav %}
     {% include 'representant_famille/espace.html.twig' %}

     <div class="row">
         <div class="col-7">
             {% if infoFamille is empty %}
                 <h3>Les informations concernant votre famille n'ont pas été renseignée </h3>
                <a class="btn btn-warning" href="{{ path('Representant.informationsFamille.ajouter') }}"> Renseigner </a>
             {% else %}
             <table class="table table-bordered">
                 <caption>Informations familiales</caption>
                 <thead>
                 <tr><th>date de modification</th><th>numéro allocataire</th><th>nom CAF</th><th>Nombre d'enfants</th><th>Régime de protection sociale</th></tr>
                 </thead>
                 <tbody>
                 {% for infos in infoFamille if infos is not empty %}
                     <tr>
                         <td>{{infos.dateModification | date('d-m-Y')}}</td>
                         <td>{{ infos.noAllocataire }}</td>
                         <td>{{ infos.nomCAF }}</td>
                         <td>{{ infos.nbEnfants }}</td>
                         <td>{{ infos.regimeProtectionSociale }}</td>

                     </tr>
                 {% endfor %}
                 <tbody>
             </table>
                 <a href="{{ path('Representant.informationsFamille.modifier') }}" class="btn btn-secondary">Modifier</a>
             {% endif %}
         </div>
     </div>
 {% endblock %}
