{% extends 'base.html.twig' %}

{% block body %}
    {% include 'representant_famille/espace.html.twig' %}

    <div class="row">
        <div class="col-7">
            <table class="table table-bordered">
                <caption>Membres de la famille</caption>
                <thead>
                <tr><th>nom</th><th>prénom</th><th>date de naissance</th><th>date MAJ</th><th>Représentant famille</th></tr>
                </thead>

                <tbody>
                {% for membre in membreFamille if membre is not empty %}
                    <tr>
                        <td>{{membre.nom}}</td>
                        <td>{{ membre.prenom }}</td>
                        <td>{{ membre.dateNaissance | date('d-m-Y') }}</td>
                        <td>{{ membre.dateMAJ | date('d-m-Y') }}</td>
                        <td>{{ membre.representant_famille.nom }}</td>

                    </tr>
                {% endfor %}
                <tbody>
            </table>
        </div>
    </div>


{% endblock %}