{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<h1>Inscription</h1>
{{ form_start(form) }}
<div class="row ">
        <div class="col shadow-lg p-3 mb-5 bg-white rounded">
            <h3>Compte</h3>
            {{ form_row(form.mail, {'label': 'Adresse mail'}) }}
            {{ form_row(form.login, {'label': 'Login'}) }}
            {{ form_row(form.motdepasse, {'label': 'Mot de passe', 'type':'password'}) }}

             {{ form_row(form.confirmermdp) }}
            <small id="pass" class="form-text text-muted">Veuillez confirmer votre mot de passe</small>
        </div>

        <div class="col shadow-sm p-3 mb-5 bg-white rounded">
            <h3>Informations personnelles</h3>
            {{ form_row(form.nom, {'label': 'Nom'}) }}
            {{ form_row(form.prenom, {'label': 'Prénom'}) }}
            {{ form_row(form.adresse, {'label': 'Adresse'}) }}
            {{ form_row(form.noMobile, {'label': 'Fixe'}) }}
            {{ form_row(form.noFixe, {'label': 'Portable'}) }}
            {{ form_row(form.dateNaissance, {'label': 'Date de naissance'}) }}
            {{ form_row(form.dateFinAdhesion, {'label': 'Date de fin d\'adhésion'}) }}

            {{ form_row(form._token) }}

        </div>
    <input type="hidden" name="token" value="{{ csrf_token('representant_famille') }}"/>

</div>
    {{ form_row(form.save) }}
    <a class="btn btn-secondary" href="{{ path('home') }}">Annuler</a>
{{ form_end(form, {'render_rest': false}) }}

{% endblock %}
