{% extends 'base.html.twig' %}

{% block title %}RepresentantFamille{% endblock %}

{% block body %}
    <h1>Liste des représentants</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ representant_famille.id }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ representant_famille.login }}</td>
            </tr>
            <tr>
                <th>Motdepasse</th>
                <td>{{ representant_famille.motdepasse }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ representant_famille.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ representant_famille.prenom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ representant_famille.adresse }}</td>
            </tr>
            <tr>
                <th>NoMobile</th>
                <td>{{ representant_famille.noMobile }}</td>
            </tr>
            <tr>
                <th>NoFixe</th>
                <td>{{ representant_famille.noFixe }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ representant_famille.mail }}</td>
            </tr>
            <tr>
                <th>DateNaissance</th>
                <td>{{ representant_famille.dateNaissance ? representant_famille.dateNaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateFinAdhesion</th>
                <td>{{ representant_famille.dateFinAdhesion ? representant_famille.dateFinAdhesion|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('Representant.accueil') }}">back to list</a>

    <a href="{{ path('representant_famille_edit', {'id': representant_famille.id}) }}">edit</a>

    {{ include('representant_famille/_delete_form.html.twig') }}
{% endblock %}
