{% extends "base.html.twig" %}
{% block title %} Membres - Odyssée du cirque {% endblock %}

{% block body %}
    <div>
        <h2 class="mx-5 my-3"> Mon espace </h2>
        {% include 'front_office/representant_famille/espaceRepresentant.html.twig' %}
    </div>
    <div class="row my-3 mx-5 shadow-lg bg-white">
    {% if membresFamille is empty %}
        <div class="m-3 w-100">
            <h3 class="text-danger"> Aucun membre de votre famille n'est inscrit ! </h3>
            <form class="mr-3 d-inline" action="{{ path("Membre.add") }}">
                <button type="submit" class="btn btn-warning"> Ajouter un membre </button>
            </form>
        </div>
    {% else %}
        <div class="m-3 w-100">
            <h3> Membres de votre famille </h3>
            <form class="mr-3 d-inline" action="{{ path("Membre.add") }}">
                <button type="submit" class="btn btn-primary"> Ajouter un membre </button>
            </form>
        </div>
        <div class="w-100">
            {% for membreFamille in membresFamille if membresFamille is not empty %}
                <div class="rounded-circle text-center" style="display: inline-block; background-image: linear-gradient(orange, orangered); height: 350px; width: 350px; ">

                    <p class="m-0 p-0"> {{membreFamille.nom}} </p>
                    <p class="m-0 p-0"> {{membreFamille.prenom}} </p>

                    {% if membreFamille.dateNaissance|date('Y-m-d') < dateMajorite|date('Y-m-d') %}
                        <p class="m-0 p-0"> Majeur </p>
                    {% else %}
                        <p class="m-0 p-0"> Mineur </p>
                    {% endif %}

                    <p class="m-0 p-0"> Né(e) le : {{membreFamille.dateNaissance() | date('d/m/Y')}} </p>

                    {#Vérifie si le membre n'est pas le représentant#}
                    {% if membreFamille.getRepresentantFamille().getPrenom() != membreFamille.getPrenom() and
                        membreFamille.getRepresentantFamille().getNom() == membreFamille.getNom() or
                        membreFamille.getRepresentantFamille().getPrenom() != membreFamille.getPrenom() and
                        membreFamille.getRepresentantFamille().getNom() != membreFamille.getNom()%}
                        {% if membreFamille.getInformationResponsableLegals() is not empty %}
                            <form action="{{ path("InfosResponsable.show", {id: membreFamille.id}) }}">
                                <button type="submit" class="btn btn-primary"> Informations du responsable </button>
                            </form>
                        {% else %}
                            <form action="{{ path("InfosResponsable.add", {id: membreFamille.id}) }}">
                                <button type="submit" class="btn btn-warning"> Associer un responsable légal </button>
                            </form>
                        {% endif %}
                    {% endif %}

                    {% if membreFamille.dateNaissance|date('Y-m-d') > dateMajorite|date('Y-m-d') %}
                        {% if membreFamille.getInformationsMineur() is not empty %}
                            <form action="{{ path("InfosMineur.show", {id: membreFamille.id}) }}">
                                <button type="submit" class="btn btn-primary"> Informations complémentaires </button>
                            </form>
                        {% else %}
                            <form action="{{ path("InfosMineur.add", {id: membreFamille.id}) }}">
                                <button type="submit" class="btn btn-warning"> Ajouter les informations </button>
                            </form>
                        {% endif %}
                    {% else %}
                        {% if membreFamille.getInformationMajeur() is not empty %}
                            <form action="{{ path("InfosMajeur.show", {id: membreFamille.id}) }}">
                                <button type="submit" class="btn btn-primary"> Informations complémentaires </button>
                            </form>
                        {% else %}
                            <form action="{{ path("InfosMajeur.add", {id: membreFamille.id}) }}">
                                <button type="submit" class="btn btn-warning"> Ajouter les informations de ce majeur </button>
                            </form>
                        {% endif %}
                    {% endif %}
                    <form action="{{ path("Membre.edit", {id: membreFamille.id}) }}">
                        <button type="submit" class="btn btn-success"> Modifier </button>
                    </form>

                    {#Vérifie si le membre n'est pas le représentant#}
                    {% if membreFamille.getRepresentantFamille().getPrenom() != membreFamille.getPrenom() and
                        membreFamille.getRepresentantFamille().getNom() == membreFamille.getNom() or
                        membreFamille.getRepresentantFamille().getPrenom() != membreFamille.getPrenom() and
                        membreFamille.getRepresentantFamille().getNom() != membreFamille.getNom() %}
                        <form action="{{ path('Membre.delete', {id: membreFamille.id}) }}" method="POST">
                            <input type="hidden" name="token" value="{{ csrf_token('membre_famille_delete') }}">
                            <button type="submit" class="btn btn-danger"> Supprimer </button>
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}