{% extends 'base.html.twig' %}
{% block title %} Modifier des informations du mineur - Odyssée du cirque {% endblock %}

{% block body %}
    <div>
        <h2 class="mx-5 my-3"> Informations complémentaires du mineur {{ membre.nom }} {{ membre.prenom }} </h2>
        {% include 'front_office/representant_famille/espaceRepresentant.html.twig' %}
    </div>
    <div class="mx-5 my-3 shadow-lg p-3 bg-white rounded">
        <h3 class="w-100"> Modifier les informations du mineur {{ membre.nom }} {{ membre.prenom }} </h3>
        <div class="my-3">
            <form class="mr-3 d-inline" action="{{ path("InfosMineur.show", {id: membre.id}) }}">
                <button type="submit" class="btn btn-secondary"> Retourner à la liste des informations </button>
            </form>
        </div>
        {{ form_start(form) }}
        {{ include('form/_formInfosMineur.html.twig', {'button_label': 'Modifier'}) }}
        {{ form_end(form) }}
    </div>
{% endblock %}