{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <br>
        <div class="row">
            {% if is_granted('ROLE_ADMIN') %}
                <form action="{{ path("Gestionnaire.showMembres") }}">
                    <button type="submit" class="btn btn-primary"> Revenir à la liste des membres </button>
                </form>
            {% elseif is_granted('ROLE_USER') %}
                <form action="{{ path("Membre.showMembres") }}">
                    <button type="submit" class="btn btn-primary"> Revenir à la liste des membres </button>
                </form>
            {% endif %}
        </div>
        <br>
        {% if is_granted('ROLE_ADMIN') %}
            <form method="POST" action="{{ path('Gestionnaire.validAddMembre') }}">
                <legend> Ajouter un membre à cette famille </legend>
                <br>
                {{ include('membre_famille/_formMembre.html.twig', {button: 'Ajouter'}) }}
            </form>
        {% elseif is_granted('ROLE_USER') %}
            <form method="POST" action="{{ path('Membre.validAddMembre') }}">
                <legend> Ajouter un membre de votre famille </legend>
                <br>
                {{ include('membre_famille/_formMembre.html.twig', {button: 'Ajouter'}) }}
            </form>
        {% endif %}
    </div>
{% endblock %}