{% extends "base.html.twig" %}
{% block body %}
        {% if is_granted('ROLE_ADMIN') %}
            {% include 'gestionnaire/espace.html.twig' %}
            <div class="row">
                <form action="{{ path("Gestionnaire.addMembre") }}">
                    <br>
                    <button type="submit" class="btn btn-primary"> Ajouter un membre de votre famille </button>

                </form>
            </div>
            <br>
            <table class="table">
                <caption> Récapitulatifs des membres de votre famille </caption>
                <thead class="thead-dark">
                <tr>
                    <th> ID </th>
                    <th> Numéro de client </th>
                    <th> Nom </th>
                    <th> Prénom </th>
                    <th> Date de naissance </th>
                    <th> État civil </th>
                    <th> Représentant </th>
                    <th> ID du responsable légal </th>
                    <th> ID du mineur  </th>
                    <th> ID du majeur </th>
                    <th> Règlement </th>
                    <th> Opérations </th>
                    <th> Mise à jour </th>
                    <th> État </th>
                </tr>
                </thead>
                {% for membreFamille in membresFamille if membresFamille is not empty %}
                <tbody>
                <tr>
                    <td> {{membreFamille.id}} </td>
                    <td> {{membreFamille.noClient}} </td>
                    <td> {{membreFamille.nom}} </td>
                    <td> {{membreFamille.prenom}} </td>
                    <td> {{membreFamille.dateNaissance() | date('d/m/Y')}} </td>
                    <td> {{membreFamille.categorie}} </td>
                    <td>
                        {{membreFamille.getRepresentantFamille.getNom() }}
                        {{membreFamille.getRepresentantFamille.getPrenom() }}
                    </td>
                    <td>
                        {#// TODO: Changer les noms des routes vers les contrôleurs associés (fausses routes pour faire beau durant la présentation...).#}
                        {% if membreFamille.getInformationResponsableLegals() is not empty %}
                            {% for info_responsableLegal in membreFamille.getInformationResponsableLegals() if membreFamille.getInformationResponsableLegals() is not empty %}
                                {{info_responsableLegal.getId()}}
                                {#ResponsableLegal.informationsResponsable#}
                                <form action="{{ path("Gestionnaire.editMembre") }}">
                                    <button type="submit" class="btn btn-primary"> Informations du représentant </button>
                                </form>
                            {% endfor %}
                        {% else %}
                            {#ResponsableLegal.addResponsableLegal#}
                            <form action="{{ path("Gestionnaire.editMembre") }}">
                                <button type="submit" class="btn btn-primary"> Associer un responsable légal </button>
                            </form>
                        {% endif %}
                    </td>
                    {% if membreFamille.dateNaissance|date('Y-m-d') < dateMajorite|date('Y-m-d') %}
                    <td>
                        {#Mineur.informationsMineur#}
                        {% if membreFamille.getInformationsMineur() is not empty %}
                            <form action="{{ path("Gestionnaire.editMembre") }}">
                                <button type="submit" class="btn btn-primary"> Informations de ce mineur </button>
                            </form>
                        {% else %}
                            {#Mineur.addInformationsMineur#}
                            <form action="{{ path("Gestionnaire.editMembre") }}">
                                <button type="submit" class="btn btn-primary"> Ajouter les informations de ce mineur </button>
                            </form>
                        {% endif %}
                    </td>

                    {% else %}
                    <td>
                        {% if membreFamille.getInformationsMineur() is not empty %}
                            {#Majeur.informationsMajeur#}
                            <form action="{{ path("Gestionnaire.editMembre") }}">
                                <button type="submit" class="btn btn-primary"> Informations de ce majeur </button>
                            </form>
                        {% else %}
                            {#Majeur.addInformationsMajeur#}
                            <form action="{{ path("Gestionnaire.editMembre") }}">
                                <button type="submit" class="btn btn-primary"> Ajouter les informations à propos de ce majeur </button>
                            </form>
                        {% endif %}
                    </td>
                    {% endif %}
                    <td>
                        {#ReglementActivite.reglerActivites#}
                        {% if membreFamille.getReglementActivite() == false %}
                            <span class="text-danger"> Les activitées auxquelles ce membre a participé n'ont pas été payées ! </span>
                        {% else %}
                            <span> Les activitées auxquelles ce membre a participé ont été payées ! </span>
                        {% endif %}
                    </td>
                    <td>
                        <form action="{{ path("Gestionnaire.editMembre") }}">
                            <input type="hidden" name="membre_id" value="{{ membreFamille.id }}">
                            <input type="hidden" name="_method" value="PUT">
                            <button type="submit" class="btn btn-success"> Modifier </button>
                        </form>
                        <br>
                        <form action="{{ path('Gestionnaire.deleteMembre') }}" method="POST">
                            <input type="hidden" name="token" value="{{ csrf_token('membre_famille_delete') }}">
                            <input type="hidden" name="membre_id" value="{{ membreFamille.id }}">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger"> Supprimer </button>
                        </form>
                    </td>
                    <td> {{membreFamille.dateMAJ() | date('d/m/Y')}} </td>
                    <td>
                        {% if membreFamille.getTraitementDonnees() == false %}
                            <span> Les données de ce membre n'ont pas été traitées </span>
                        {% else %}
                            <span> Les données de ce membre ont été traitées </span>
                        {% endif %}
                    </td>
                </tr>
                {% else %}
                    <p class="table-warning"> Aucun personne de votre famille n'est inscrite ! </p>
                {% endfor %}
                <tbody>
            </table>

        {% elseif is_granted('ROLE_USER') %}
            {% include 'representant_famille/espace.html.twig' %}
            <div class="row">
                <form action="{{ path("Membre.addMembre") }}">
                    <br>
                    <button type="submit" class="btn btn-primary"> Ajouter un membre de votre famille </button>
                </form>
            </div>
            <br>
            <h3> Récapitulatifs des membres de votre famille </h3>
            {#{ //TODO: A rendre plus beau et responsive #}
            <div style="max-width: 100%; ">
                {% for membreFamille in membresFamille if membresFamille is not empty %}
                    <div class="rounded-circle text-center" style="display: inline-block; background-image: linear-gradient(orange, orangered); height: 550px; width: 550px; ">
                    <br>
                    <p> {{membreFamille.nom}} </p>
                    <p> {{membreFamille.prenom}} </p>
                        {% if membreFamille.dateNaissance|date('Y-m-d') < dateMajorite|date('Y-m-d') %}
                            <p>Majeur</p>
                        {% else %}
                            <p>Mineur</p>
                        {% endif %}

                    <p> Né(e) le : {{membreFamille.dateNaissance() | date('d/m/Y')}} </p>

                        {#// TODO: Changer les noms des routes vers les contrôleurs associés (fausses routes pour faire beau durant la présentation...).#}
                        {% if membreFamille.getInformationResponsableLegals() is not empty %}
                            {% for info_responsableLegal in membreFamille.getInformationResponsableLegals() if membreFamille.getInformationResponsableLegals() is not empty %}
                                {{info_responsableLegal.getId()}}
                                {#ResponsableLegal.informationsResponsable#}
                                <form action="{{ path("Representant.informationsFamille") }}">
                                    <button type="submit" class="btn btn-primary"> Informations du représentant </button>
                                </form>
                            {% endfor %}
                        {% else %}
                            {#ResponsableLegal.addResponsableLegal#}
                            <form action="{{ path("Representant.informationsFamille") }}">
                                <button type="submit" class="btn btn-primary"> Associer un responsable légal </button>
                            </form>
                        {% endif %}
                        <br>
                    {% if membreFamille.dateNaissance|date('Y-m-d') > dateMajorite|date('Y-m-d') %}
                        {#Mineur.informationsMineur#}
                        {% if membreFamille.getInformationsMineur() is not empty %}
                            <form action="{{ path("Membre.showMineur", {n: membreFamille.informationsMineur.id}) }}">
                                <button type="submit" class="btn btn-primary"> Informations du mineur </button>
                            </form>
                        {% else %}
                            {#Mineur.addInformationsMineur#}
                            <form action="{{ path("Membre.addInfoMineur", {n: membreFamille.getId()}) }}">
                                <button type="submit" class="btn btn-primary"> Ajouter les informations de ce mineur </button>
                            </form>
                        {% endif %}
                        <br>
                    {% else %}
                        {% if membreFamille.getInformationMajeur() is not empty %}
                            {#Majeur.informationsMajeur#}
                            <form action="{{ path("Membre.showMajeur", {n: membreFamille.informationMajeur.id}) }}">
                                <button type="submit" class="btn btn-primary"> Informations du majeur </button>
                            </form>
                        {% else %}
                            {#Majeur.addInformationsMajeur#}
                            <form action="{{ path("Membre.addInfoMajeur", {n: membreFamille.getId()}) }}">
                                <button type="submit" class="btn btn-primary"> Ajouter les informations de ce majeur </button>
                            </form>
                        {% endif %}
                        <br>
                    {% endif %}
                        {#ReglementActivite.reglerActivites#}
                        {% if membreFamille.getReglementActivite() == false %}
                            <form action="{{ path("Representant.informationsFamille") }}">
                                <button type="submit" class="btn btn-primary"> Payer les activités auquelles ce membre a participé </button>
                            </form>
                        {% else %}
                            <span> Les activitées auxquelles ce membre a participé ont été payées ! </span>
                        {% endif %}
                        <br>
                        <form action="{{ path("Membre.editMembre") }}">
                            <input type="hidden" name="membre_id" value="{{ membreFamille.id }}">
                            <input type="hidden" name="_method" value="PUT">
                            <button type="submit" class="btn btn-success"> Modifier </button>
                        </form>
                        <br>
                        <form action="{{ path('Membre.deleteMembre') }}" method="POST">
                            <input type="hidden" name="token" value="{{ csrf_token('membre_famille_delete') }}">
                            <input type="hidden" name="membre_id" value="{{ membreFamille.id }}">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger"> Supprimer </button>
                        </form>
                        <br>
                    </div>
                {% endfor %}
            </div>
    {% endif %}
{% endblock %}