{% extends 'base.html.twig' %}
{% block title %} Informations familiales - Odyssée du cirque {% endblock %}

{% block body %}
    <div>
        <h2 class="mx-5 my-3"> Votre espace </h2>
        {% include 'front_office/representant_famille/espaceRepresentant.html.twig' %}
    </div>
    <div class="row my-3 mx-5 shadow-lg bg-white">
        <div class="m-3 w-100">
            <h3> Vos informations personnelles </h3>
            <form class="mr-3 d-inline" action="{{ path("Representant.accueil") }}">
                <button type="submit" class="btn btn-secondary"> Retourner à votre espace </button>
            </form>
            <form class="mr-3 d-inline" action="{{ path("Representant.InfosPerso.edit") }}">
                <button type="submit" class="btn btn-success"> Modifier vos informations personnelles </button>
            </form>
        </div>
        <table class="table">
            <tbody>
                <tr>
                    <th> Nom </th>
                    <td>{{ representant.nom }}</td>
                </tr>
                <tr>
                    <th> Prénom </th>
                    <td>{{ representant.prenom }}</td>
                </tr>
                <tr>
                    <th> Adresse mail </th>
                    <td>{{ representant.mail }}</td>
                </tr>
                <tr>
                    <th> Adresse </th>
                    <td>{{ representant.adresse }}</td>
                </tr>
                <tr>
                    <th> Numéro de mobile </th>
                    <td>{{ representant.noMobile }}</td>
                </tr>
                <tr>
                    <th> Numéro de fixe </th>
                    <td>{{ representant.noFixe }}</td>
                </tr>
                <tr>
                    <th> Date de naissance </th>
                    <td>{{ representant.dateNaissance | date('d-m-Y') }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}