<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('') }}">
        <img src="img/Logo.jpg" class="d-inline-block align-top" alt="" width="80" height="37">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('') }}">Accueil</a>
            </li>
            <li class="nav-item dropdown active" >
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Mon compte</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item {% if app.user %}disabled{% endif %}" href="{{ path('app_login') }}">Se connecter</a>
                    <a class="dropdown-item {% if app.user %}disabled{% endif %}" href="{{ path('Representant.ajouter') }}">Inscription</a>
                    <div class="dropdown-divider"></div>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="dropdown-item" href="{{ path('Gestionnaire.accueil') }}"> Accéder à mon espace </a>
                    {% elseif is_granted('ROLE_USER') %}
                        <a class="dropdown-item" href="{{ path('Representant.informationsFamille') }}"> Accéder à mon espace </a>
                    {% endif %}
                    <div class="dropdown-divider"></div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="Pédagogie" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Pédagogie
                </a>
                <div class="dropdown-menu" aria-labelledby="Pédagogie">
                    <a class="dropdown-item" href="#">Bla</a>
                    <a class="dropdown-item" href="#">Bla</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Bla</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="Formations" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Formations
                </a>
                <div class="dropdown-menu" aria-labelledby="Formations">
                    <a class="dropdown-item" href="#">a</a>
                    <a class="dropdown-item" href="#">b</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">c</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="Diffusion" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Diffusion
                </a>
                <div class="dropdown-menu" aria-labelledby="Diffusion">
                    <a class="dropdown-item" href="#">blabla1</a>
                    <a class="dropdown-item" href="#">blabla2</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">blabla3</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="Diffusion" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Diffusion
                </a>
                <div class="dropdown-menu" aria-labelledby="Diffusion">
                    <a class="dropdown-item" href="#">blabla4</a>
                    <a class="dropdown-item" href="#">blabla5</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">blabla6</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="Centre ressources" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Centre ressources
                </a>
                <div class="dropdown-menu" aria-labelledby="Centre ressources">
                    <a class="dropdown-item" href="#">blabla7</a>
                    <a class="dropdown-item" href="#">blabla8</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">blabla9</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="Partenariat" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Partenariat
                </a>
                <div class="dropdown-menu" aria-labelledby="Partenariat">
                    <a class="dropdown-item" href="#">blabla10</a>
                    <a class="dropdown-item" href="#">blabla11</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">blabla12</a>
                </div>
            </li>
        </ul>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    {% if app.user %}
                        <a class="nav-link" href="{{ path('deconnexion') }}">Déconnexion</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if not app.user %}
                        <a class="nav-link active" href="{{ path('app_login') }}" tabindex="-1" >Se connecter</a>
                    {% else %}
                        <a class="nav-link active text-success" href="{{ path('') }}" tabindex="-1" >{{ app.user.username}}</a>
                    {% endif %}
                </li>
            </ul>
        </div>

    </div>
</nav>
