{#{% extends "base.html.twig" %}#}

{% block body %}
    {% include 'gestionnaire/espace.html.twig' %}
    <div class="row">
        <form action="{{ path("Representant.ajouter") }}">
            <br>
            <button type="submit" class="btn btn-primary"> Ajouter un représentant </button>
        </form>
    </div>
    <br>
    <table class="table">
        <caption> Liste des représentants de famille </caption>
        <thead class="thead-dark">
        <tr>
            <th> ID </th>
            <th> Pseudonyme </th>
            <th> Mot de passe crypté </th>
            <th> Adresse mail  </th>
            <th> Nom </th>
            <th> Prénom </th>
            <th> Adresse </th>
            <th> Numéro de mobile </th>
            <th> Numéro de fixe </th>
            <th> Date de naissance </th>
            <th> Date de fin d'adhésion </th>
            <th> État du compte </th>
            <th> Informations familiales </th>
            <th> Membres </th>
            <th> Opérations </th>
        </tr>
        </thead>
        {% for representant in familles if familles is not empty %}
        <tbody>
        <tr>
            <td> {{ representant.id }} </td>
            <td> {{ representant.login }} </td>
            <td> {{ representant.motdepasse }} </td>
            <td> {{ representant.mail }}</td>
            <td> {{ representant.nom }} </td>
            <td> {{ representant.prenom }} </td>
            <td> {{ representant.adresse }} </td>
            <td> {{ representant.noMobile }}</td>
            <td> {{ representant.noFixe }} </td>
            <td> {{ representant.dateNaissance | date('d/m/Y') }} </td>
            <td> {{ representant.dateFinAdhesion | date('d/m/Y') }} </td>
            <td> {{ representant.estActive }} </td>
            <td>
                {% if representant.getInformationsFamilles() is not empty %}
                    {% for infos_representant in representant.getInformationsFamilles() %}
                        {{ infos_representant.getId() }}
                    {% endfor %}
                    <form action="{{ path("Representant.afficher", {id: representant.id} ) }}">
                        <button type="submit" class="btn btn-primary"> Informations de ce représentant </button>
                    </form>
                {% else %}
                    <form action="{{ path("Representant.informationsFamille.ajouter") }}">
                        <button type="submit" class="btn btn-primary"> Ajouter les informations nécesaires </button>
                    </form>
                {% endif %}
            </td>
            <td>
                {% if representant.getMembreFamilles() is not empty %}
                    {% for infos_representant in representant.getMembreFamilles() %}
                        {{ infos_representant.getId() }}
                    {% endfor %}
                    <form action="{{ path("Membre.showMembres") }}">
                        <button type="submit" class="btn btn-primary"> Informations des membres </button>
                    </form>
                {% else %}
                    <span> Ce représentant n'a pas de membre associé </span>
                {% endif %}
            </td>
            <td>
                <form action="{{ path("representant_famille_edit", {id: representant.id} ) }}">
                    <input type="hidden" name="representant_id" value="{{ representant.id }}">
                    <input type="hidden" name="_method" value="POST">
                    <button type="submit" class="btn btn-success"> Modifier </button>
                </form>
                <br>
                <form action="{{ path('Representant.supprimer', {id: representant.id} ) }}" method="POST">
                    <input type="hidden" name="token" value="{{ csrf_token('delete' ~ representant.id) }}">
                    <input type="hidden" name="representant_id" value="{{ representant.id }}">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger"> Supprimer </button>
                </form>
            </td>
        </tr>
        {% else %}
            <p class="table-warning"> Aucun représentant n'est inscrit ! </p>
        {% endfor %}
        <tbody>
    </table>
{% endblock %}